.SliderProject {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3px 0px;
    background: #0000003b;
    color: #fff;
    backdrop-filter: blur(11px);
  }

  .swiper-pagination-bullet-active {
    background: linear-gradient(127deg, #4ad493, #007374);
    width: 20px;
    border-radius: 500px;
  }

  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, #4ad493);
    border-radius: 50px !important;
  }
  .swiper-pagination-progressbar {
    background: rgb(255 255 255 / 25%);
    border-radius: 50px !important;
    overflow: hidden;
    height: 8px;
  }
}
